name: npm

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Run a one-line script
      run: echo Hello, world!
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
    - name: Publish version
      uses: geoblink/publish-to-npm@v1.0.2
      env:
        NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
    - name: send-message
      uses: ZjBlog/message@v1.5
      env: 
        MESSAGE: "npm部署成功"
        URL: ${{ secrets.URL }}  
